@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bls-neutral: #57534e;
    --bls-neutral-foreground: #fafaf9;
    --bls-neutral-backing: #e7e5e4;
    --bls-neutral-minor: #78716c;
    --bls-primary: #006361;
    --bls-primary-backing: #cff4ee;
    --bls-primary-outline: #6ebfb8;
    --bls-secondary: #886821;
    --bls-secondary-backing: #f3e8d3;
    --bls-success: #12a150;
    --bls-success-backing: #e8faf0;
    --bls-warning: #d97706;
    --bls-warning-backing: #fffbeb;
    --bls-danger: #f31260;
    --bls-danger-backing: #fee7ef;
  }
}

@layer components {
  .font-headline-lg {
    @apply text-[32px] font-bold leading-[36px] tracking-[-0.5px];
  }
  .font-headline-sm {
    @apply text-[28px] font-bold leading-[32px] tracking-[-0.5px];
  }
  .font-headline-sm {
    @apply text-[24px] font-bold leading-[28px] tracking-[-0.5px];
  }
  .font-title-lg {
    @apply text-[20px] font-bold leading-[24px] tracking-[-0.25px];
  }
  .font-title-md {
    @apply text-[18px] font-bold leading-[20px] tracking-[-0.25px];
  }
  .font-label-lg {
    @apply text-[16px] font-semibold leading-[18px] tracking-[0px];
  }
  .font-label-md {
    @apply text-[14px] font-semibold leading-[15px] tracking-[0px];
  }
  .font-body-md {
    @apply text-[16px] font-medium leading-[24px] tracking-[0px];
  }
}
